/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #0f2027, #2c5664, #458099);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 200px;
}

.sidebar .logo {
    color: #000;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #7e7a7a63;
}

.links h4 {
    color: #ffffff;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #ffffff;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #ffffff;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

.links li span{
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        transition: all 0.4s ease-in;
        transform: translateX(-200px);
    }

    .menu-icon span{
        position: fixed;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1000;
        color: white;
        font-size: 30px;
    }

    .links li a {
        padding: 10px;
        color: #ffffff;
        display: block;
        font-weight: 500;
        white-space: nowrap;
        text-decoration: none;
    }
}

.sidebar.open {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.sidebar.open {
    transform: translateX(0px); /* конечное положение */
}